# Ignorar las dependencias instaladas por Composer
/vendor/

# Ignorar archivos de entorno locales (seguridad)
.env
.env.local

# Ignorar carpetas de configuración de editores (opcional)
.idea/
.vscode/

# Config con datos bancarios (NO subir)
assets/config.js

# Vite
dist/
.vite/

# Node
node_modules/

# Windows
*.Zone.Identifier